<p><strong>Setting your profile location</strong></p>
<div class="well">
  <p><strong>1. Enter your location in the above field and hit the "Search" button</strong></p>
  <p>You can start with a zip code or city name, but need to provide a bit more information if the zip code or city are not unique on our planet.</p>
  <p><strong>ZIP Code examples</strong></p>
  <p>90010 / 90010, US / 80331, Germany / W1C, UK</p>
  <p><strong>City examples</strong></p>
  <p>Hanover / Hanover, US / Hannover, Germany
    Birmingham / Birmingham, US / Birmingham, UK</p>
</div>

<div class="well">
  <p><strong>2. We will try to find the coordinates for your location</strong></p>
  <p>If successful you will see a marker on a map and you can move it with your mouse to your exact location, if you like to.</p>
</div>

<div class="well">
  <p><strong>3. Verify your location (on the right)</strong></p>
  <p>In some instances region and city cannot be resolved properly from the previously found coordinates. You will need to enter them manually or try to relocate the marker on the map just a tiny bit.
       You can also add/change your neighborhood on the right side.</p>
</div>

<div class="well">
  <p><strong>4. Submit your data (on the right)</strong></p>
  <p>If everything seems to look alright, submit your data, otherwise just cancel your request.</p>
</div>
